<h1>New pile</h1>

<% form_tag :action => 'create_new' do %>
  <%= error_messages_for 'piles' %><br />
  <label for="pile.category_id">Category</label><br />
  <%= select("piles", "category_id", Category.find(:all).collect {|c| [c.name, c.id] }) %><br />
  <label for="pile_name">Name</label><br/>
    <%= text_field 'piles', 'name'  %><br />
  <label for="pile.user_id">Author:</label><br />
    <%= current_user.name %><br />
<input type="reset" value="Reset &#187;" class="primary" />
<input type="submit" value="Create &#187;" class="primary" />

<%= form_tag %>
<% end %>
<br />
<%= link_to '<img src="/images/icons/back.png" width="35" height="35" alt="Back" class="img" />', :controller => "accounts", :action => "account" %>